<!-- Header de navbar -->
<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navbar-button" routerLink="/ovnis">
      Ovnis
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navbar-button" routerLink="/cumbion">
        Cumbion
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="navbar-button" routerLink="/venta">
        <ion-icon name="cart"></ion-icon>
        <span class="cart-badge">5</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!-- Contenedor Navbar -->
<ion-content>
  <ion-title class="navbar-title">
    <u>Pagina Principal</u>
  </ion-title>

  <!-- Poner Imagen  -->
  <ion-item>
    <img src="assets/icon/ovni.jpg">
  </ion-item>
  <ion-list>
    
    <ion-item>
      <ion-label> </ion-label>
      Bienvenido a la pagina de los Ovnis :3
    </ion-item>
  </ion-list>
</ion-content>

